@using CaucasianPearl
@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.Helpers.MvcHtmlStringHelpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Resources;

<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>@ViewRes.ProjectTitle</title>

        <link href="@Url.Content("~/content/img/site/favicon.ico")" rel="site icon" type="image/x-icon" />
        
        @Html.Partial(Consts.Paths.UserControls.MetaTagsControl, new ViewDataDictionary { {"viewBag", ViewBag}})

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        @* vk.com *@
        <meta name="title" content="@ViewBag.Title" />
        <meta name="description" content="@ViewBag.Description" />
        <link rel="image_src" href="@ViewBag.Image" />

        @* facebook.com *@
        <meta property="og:title" content="@ViewBag.Title" />
        <meta property="og:description" content="@ViewBag.Description" />
        <meta property="og:image" content="@ViewBag.Image" />
        <meta property="og:site_name" content="@ViewBag.SiteName" />
        <meta property="og:url" content="@HttpContext.Current.Request.Url" />

        <meta name="keywords" content="@ViewBag.Keywords" />

        @Styles.Render("~/bundles/styles")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jqueryval")

        @* jquery ui { *@
        @Html.Raw(CssJsRegControl.Render("jqueryui/js/jquery-ui-1.9.2.custom.js", Consts.Paths.Plugins.PluginsPrefix))
        @Html.Raw(CssJsRegControl.Render("jqueryui/css/jquery-ui-1.9.2.custom.css", Consts.Paths.Plugins.PluginsPrefix))

        @Html.Raw(CssJsRegControl.Render("main.js", Consts.Paths.Js.CpJsPrefixPath, "windows-1251"))
        
        @* язык для datepicker *@
        @Html.Raw(CssJsRegControl.Render(string.Format("jqueryui/js/jquery.ui.datepicker-{0}.js", CultureHelper.CurrentCultureAbbr), Consts.Paths.Plugins.PluginsPrefix))
        
        @* глобальные переменные *@
        <script type="text/javascript">
            var currentCulture = '@CultureHelper.CurrentCultureAbbr';
        </script>
    </head>

    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        @Html.ActionLink(
                            ViewRes.ProjectTitle,
                            actionName: Consts.Actions.Index,
                            controllerName: Consts.Controllers.Home.Name
                        )
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial(Consts.Paths.UserControls.CultureControl)
                    </section>
                    <nav>
                        <ul class="menu">
                            <li>
                                @Html.MenuLink(
                                    linkText: ViewRes.About,
                                    actionName: Consts.Controllers.Home.Actions.About,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.MenuLink(
                                    linkText: ViewRes.Events,
                                    actionName: Consts.Controllers.Home.Actions.Events,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.MenuLink(
                                    linkText: ViewRes.Affiche,
                                    actionName: Consts.Controllers.Home.Actions.Affiche,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.MenuLink(
                                    linkText: ViewRes.SiteSettings,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.SiteSettings.Name)
                            </li>
                        </ul>
                    </nav>
                </div>
                @* social share *@
                @Html.Partial(Consts.Paths.UserControls.SocialShareControl)
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

            <div class="overlay"></div>
            <div class="loading"></div>
        </div>
        <footer>
            @Html.Partial(Consts.Paths.UserControls.FooterControl)
            <div id="unexpectedError" class="unexpected_error">@ErrorRes.UnexpectedError</div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
    </body>
</html>