@using CaucasianPearl
@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using Resources

<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>@ViewRes.ProjectTitle</title>
        
        <link href="@Url.Content("~/content/img/site/favicon.ico")" rel="site icon" type="image/x-icon" />

        @Styles.Render("~/bundles/styles")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jqueryval")

        @* jquery ui { *@
        @Html.Raw(CssJsRegControl.Render("jqueryui/js/jquery-ui-1.9.2.custom.js", Consts.Paths.Plugins.PluginsPrefix))
        @Html.Raw(CssJsRegControl.Render("jqueryui/css/jquery-ui-1.9.2.custom.css", Consts.Paths.Plugins.PluginsPrefix))

        @Html.Raw(CssJsRegControl.Render("main.js", Consts.Paths.Js.CpJsPrefixPath, "windows-1251"))
        
        @* язык для datepicker *@
        @Html.Raw(CssJsRegControl.Render(string.Format("jqueryui/js/jquery.ui.datepicker-{0}.js", CultureHelper.CurrentCultureAbbr), Consts.Paths.Plugins.PluginsPrefix))
    </head>

    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        @Html.ActionLink(
                            ViewRes.ProjectTitle,
                            actionName: Consts.Actions.Index,
                            controllerName: Consts.Controllers.Home.Name
                        )
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial(Consts.Paths.UserControls.LoginControl)
                        @Html.Partial(Consts.Paths.UserControls.CultureControl)
                    </section>
                    <nav>
                        <ul class="menu">
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.AboutEnsemble,
                                    actionName: Consts.Controllers.Home.Actions.About,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Events,
                                    actionName: Consts.Controllers.Event.Actions.GetEvents,
                                    controllerName: Consts.Controllers.Event.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Affiche,
                                    actionName: Consts.Controllers.Home.Actions.Affiche,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.SiteSettings,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.SiteSettings.Name)
                            </li>
                            @*<li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Home,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.UserProfiles,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Profile.Name)
                            </li>                            
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Sponsors,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Sponsor.Name)
                            </li>
                            
                        </ul>
                        <ul class="menu">
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Requests,
                                    actionName: Consts.Actions.Create,
                                    controllerName: Consts.Controllers.Request.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Gallery,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Gallery.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Feedbacks,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Feedback.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Contacts,
                                    actionName: Consts.Controllers.Home.Actions.Contacts,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: ViewRes.Contacts,
                                    actionName: Consts.Controllers.Home.Actions.Contact,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            //TODO: убрать
                            if (WebSecurity.IsAuthenticated && (User.IsInAnyRole(Consts.Roles.AdminContentManager)))
                            {
                                <li>
                                    @Html.ActionLink(
                                        linkText: ViewRes.ContentBlock,
                                        actionName: Consts.Actions.Index,
                                        controllerName: Consts.Controllers.ContentBlock.Name)
                                </li>
                            }*@
                        </ul>
                    </nav>
                </div>
                @* social share *@
                @Html.Partial(Consts.Paths.UserControls.SocialShareControl)
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

            <div class="overlay"></div>
            <div class="loading"></div>
        </div>
        <footer>
            @Html.Partial(Consts.Paths.UserControls.FooterControl)
        </footer>
        @Scripts.Render("~/bundles/jquery")
    </body>
</html>