@using CaucasianPearl
@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using Resources.Shared
@using Resources.TopMenu

<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>@SharedRes.ProjectTitle</title>
        
        <link href="@Url.Content("~/content/img/site/favicon.ico")" rel="site icon" type="image/x-icon" />

        @Styles.Render("~/bundles/styles")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jqueryval")

        @* jquery ui { *@
        @Html.Raw(CssJsRegControl.Render("jqueryui/js/jquery-ui-1.9.2.custom.js", Consts.Paths.PluginsPrefix))
        @Html.Raw(CssJsRegControl.Render("jqueryui/css/jquery-ui-1.9.2.custom.css", Consts.Paths.PluginsPrefix))

        @Html.Raw(CssJsRegControl.Render("main.js", Consts.Paths.CpJsPrefixPath, "windows-1251"))
        
        @* язык для datepicker *@
        @Html.Raw(CssJsRegControl.Render(string.Format("jqueryui/js/jquery.ui.datepicker-{0}.js", CultureHelper.CurrentCultureAbbr), Consts.Paths.PluginsPrefix))
    </head>

    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        @Html.ActionLink(
                            SharedRes.ProjectTitle,
                            actionName: Consts.Actions.Index,
                            controllerName: Consts.Controllers.Home.Name
                        )
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial(Consts.UserControlsPaths.LoginControl)
                        @Html.Partial(Consts.UserControlsPaths.CultureControl)
                    </section>
                    <nav>
                        <ul class="menu">
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Home,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Profiles,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Profile.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Events,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Event.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.News,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.OneNews.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.About,
                                    actionName: Consts.Controllers.Home.Actions.About,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Affiche,
                                    actionName: Consts.Controllers.Home.Actions.Affiche,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                        </ul>
                        <ul class="menu">
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Requests,
                                    actionName: Consts.Actions.Create,
                                    controllerName: Consts.Controllers.Request.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Gallery,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Gallery.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Feedbacks,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.Feedback.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Contacts,
                                    actionName: Consts.Controllers.Home.Actions.Contacts,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.Contact,
                                    actionName: Consts.Controllers.Home.Actions.Contact,
                                    controllerName: Consts.Controllers.Home.Name)
                            </li>
                            <li>
                                @Html.ActionLink(
                                    linkText: TopMenuRes.SiteSettings,
                                    actionName: Consts.Actions.Index,
                                    controllerName: Consts.Controllers.SiteSettings.Name)
                            </li>
                            @* TODO: убрать *@
                            @*@if (WebSecurity.IsAuthenticated && (User.IsInAnyRole(Consts.Roles.AdminContentManager)))
                            {*@
                                <li>
                                    @Html.ActionLink(
                                        linkText: TopMenuRes.ContentBlock,
                                        actionName: Consts.Actions.Index,
                                        controllerName: Consts.Controllers.ContentBlock.Name)
                                </li>
                            @*}*@
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @* social share *@
            @Html.Partial(Consts.UserControlsPaths.SocialShareControl)
            
            @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()
            @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()
            @ViewContext.RouteData.Values["controller"]
            @ViewContext.RouteData.Values["action"]

            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

            <div class="overlay"></div>
            <div class="loading"></div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year | Designed by Artem Pogosoff</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>