@model CaucasianPearl.Models.EDM.Event

@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers
@using Resources.Event
@using Resources.Shared

@{
    ViewBag.Title = string.Format("{0} | {1}", Model.Title, Consts.Title);
}

<p>
    @* На домашнюю страницу *@
    @Html.ActionLink(SharedViewRes.ToHomePage,
        Consts.Actions.Index,
        controllerName: Consts.Controllers.Home.Name,
        routeValues: null,
        htmlAttributes: new { @class = "link" }
    )
    @* Все события *@
    @Consts.BreadcrumbsSeparator
    @Html.ActionLink(
        EventViewRes.AllEvents,
        actionName: Consts.Actions.Index,
        routeValues: null,
        htmlAttributes: new { @class = "link" }
    )
    @Consts.BreadcrumbsSeparator
    @Model.Title
</p>

@if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
{
    <p>
        @* Редактировать *@
        @Html.ActionLink(
            SharedViewRes.Edit,
            Consts.Actions.Edit,
            controllerName: Consts.Controllers.Event.Name,
            routeValues: new { id = Model.ID },
            htmlAttributes: new { @class = "link" }
        )
        @Consts.MenuSeparator
        @* Удалить *@
        @Html.ActionLink(
            SharedViewRes.Delete, actionName: Consts.Actions.Delete,
            controllerName: Consts.Controllers.Event.Name,
            routeValues: new { id = Model.ID },
            htmlAttributes: new { @class = "link" }
        )
    </p>
}

<h2>@EventViewRes.Event: @Model.Title</h2>

<br />

@*<div class="model-image">
    <img src='@string.Format("{0}/{1}/{2}",
                             (Url.Content(Consts.EntityImagesFolder)),
                             (Consts.Controllers.Event.EventImagesFolder),
                             ImageHelper.GetImageName(Model))' alt="@Model.Title"/>
</div>*@

<fieldset>
    <legend>@Model.Title</legend>
    
    <div class="display-form">
        <div class="display-property">
            @Html.HiddenFor(model => model.ID)
            
            <div class="display-label">@Html.LabelFor(model => model.Title)</div>
            <div class="display-field">@Html.DisplayFor(model => model.Title)</div>
            <div class="clear"></div>
    
            <div class="display-label">@Html.LabelFor(model => model.EventDate)</div>
            <div class="display-field">@Html.DisplayFor(model => model.EventDate)</div>
            <div class="clear"></div>

            <div class="display-label">@Html.LabelFor(model => model.Description)</div>
            <div class="display-field">@Html.DisplayFor(model => model.Description)</div>
            <div class="clear"></div>
    
            <div class="display-label">@Html.LabelFor(model => model.Content)</div>
            <div class="display-field">@Html.DisplayFor(model => model.Content)</div>
            <div class="clear"></div>
            
            <div class="display-label">@Html.LabelFor(model => model.Cover)</div>
            <div class="display-field">@Html.DisplayFor(model => model.Cover)</div>
            <div class="clear"></div>

            <div class="display-label">@Html.LabelFor(model => model.ShortName)</div>
            <div class="display-field">@Html.DisplayFor(model => model.ShortName)</div>
            <div class="clear"></div>

            @Html.HiddenFor(model => model.Sequence)
        </div>
    </div>
</fieldset>

<p>
    @if (WebSecurity.IsAuthenticated && Roles.IsUserInRole(Consts.Roles.Admin)) {
        @Html.ActionLink(SharedViewRes.Edit, Consts.Actions.Edit, new { id = Model.ID }) @:|
    }
    @Html.ActionLink(EventViewRes.BackToList, Consts.Actions.Index)
</p>