@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.EntityServices.Interface
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Core.Helpers;
@using CaucasianPearl.Models
@using CaucasianPearl.Models.EDM;
@using Resources.Event
@using Resources.Shared

@model IEnumerable<Event>

@{
    ViewBag.Title = string.Format("{0} - {1}", SharedRes.ProjectTitle, EventViewRes.Events);
}

<p>
    @Html.ActionLink(
        SharedViewRes.ToHomePage,
        actionName: Consts.Actions.Index,
        controllerName: Consts.Controllers.Home.Name,
        routeValues: null,
        htmlAttributes: new { @class = "link" }
         )
    @Consts.BreadcrumbsSeparator
    @EventViewRes.Events
</p>

@if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
{
    <p>
        <!-- Создать -->
        @Html.ActionLink(
            EventViewRes.CreateEvent,
            actionName: Consts.Actions.Create,
            controllerName: Consts.Controllers.Event.Name,
            routeValues: null,
            htmlAttributes: new { @class = "link" })
    </p>
}

<table>
    @foreach (var @event in Model)
    {
        <tr>
            <td style="text-align: center;">
                @{
                    var eventMedia = @event.EventMedia.FirstOrDefault(em => em.PhotoId == @event.Cover);
                    var imageUrl = eventMedia != null ? eventMedia.ThumbnailUrl : ImageHelper.GetDefaultImageUrl();
                }
                @Html.ActionImage(
                    Consts.Actions.GetByShortName,
                    Consts.Controllers.Event.Name,
                    routeValues: new { shortname = @event.ShortName },
                    imagePath: imageUrl, alt: @event.Title)
            </td>
            <td style="text-align: center;">
                @Html.ActionLink(
                    @event.Title,
                    Consts.Actions.GetByShortName,
                    controllerName: Consts.Controllers.Event.Name,
                    routeValues: new { shortname = @event.ShortName },
                    htmlAttributes: new { @class = "link" })
            </td>
            
            @if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
            {
                <td>
                    <!-- Вверх -->
                    @Html.ActionLink(
                        SharedViewRes.Up,
                        Consts.Actions.Up,
                        new { id = @event.ID })
                </td>
                <td>
                    <!-- Вниз -->
                    @Html.ActionLink(
                        SharedViewRes.Down,
                        Consts.Actions.Down,
                        new { id = @event.ID })
                </td>
                <td>
                    <!-- Редактировать -->
                    @Html.ActionLink(
                        SharedViewRes.Edit,
                        Consts.Actions.Edit,
                        controllerName: Consts.Controllers.Event.Name,
                        routeValues: new { id = @event.ID },
                        htmlAttributes: new { @class = "link" })
                </td>
                <td>
                    <!-- Удалить -->
                    @Html.ActionLink(
                        SharedViewRes.Delete, actionName: Consts.Actions.Delete,
                        controllerName: Consts.Controllers.Event.Name,
                        routeValues: new { id = @event.ID },
                        htmlAttributes: new { @class = "link" })
                </td>
            }
        </tr>
    }
</table>

<br /><br />

<div class="paginator">
    @Html.Partial(
        Consts.UserControlsPaths.Paginator,
        (PaginatorControl.GetLinks(
            DependencyResolverHelper<IUrlFriendlyService<Event>>.GetService().Count(Request.QueryString),
            Consts.PaginatorControl.EventItemsPerPage,
            Consts.PaginatorControl.EventNumberOfVisibleLinks)))
</div>