@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.EntityServices.Interface
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Models
@using CaucasianPearl.Models.EDM
@using Resources

@model IEnumerable<Event>

@{
    ViewBag.Title = string.Format("{0} - {1}", ViewRes.ProjectTitle, ViewRes.Events);
}

<p>
    @Html.ActionLink(
        ViewRes.ToHomePage,
        actionName: Consts.Actions.Index,
        controllerName: Consts.Controllers.Home.Name,
        routeValues: null,
        htmlAttributes: new { @class = "link" })
    @Consts.BreadcrumbsSeparator
    @ViewRes.Events
</p>

@if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
{
    <p>
        <!-- Создать -->
        @Html.ActionLink(
            ViewRes.CreateEvent,
            actionName: Consts.Actions.Create,
            controllerName: Consts.Controllers.Event.Name,
            routeValues: null,
            htmlAttributes: new { @class = "link" })
    </p>
}

<table>
    @foreach (var @eventItem in Model) {
        <tr>
            <td style="text-align: center;">
                @{
                    var eventMedia = @eventItem.EventMedia.FirstOrDefault(em => em.IsPrimary ?? false);
                    var primaryImageUrl = eventMedia != null
                        ? eventMedia.ThumbnailUrl
                        : ImageHelper.GetDefaultImageUrl(Consts.Paths.Img.SiteImgFolder);
                }
                @Html.ActionImage(
                    Consts.Actions.GetByShortName,
                    Consts.Controllers.Event.Name,
                    routeValues: new { shortname = @eventItem.ShortName },
                    imagePath: primaryImageUrl, alt: @eventItem.Title)
            </td>
            <td style="text-align: center;">
                @Html.ActionLink(
                    @eventItem.Title,
                    Consts.Actions.GetByShortName,
                    controllerName: Consts.Controllers.Event.Name,
                    routeValues: new { shortname = @eventItem.ShortName },
                    htmlAttributes: new { @class = "link" })
            </td>
            <td style="text-align: center;">
                @eventItem.EventDate
            </td>
            
            @if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
            {
                <td>
                    <!-- Вверх -->
                    @Html.ActionLink(
                        ViewRes.Up,
                        Consts.Actions.Up,
                        new { id = @eventItem.ID })
                </td>
                <td>
                    <!-- Вниз -->
                    @Html.ActionLink(
                        ViewRes.Down,
                        Consts.Actions.Down,
                        new { id = @eventItem.ID })
                </td>
                <td>
                    <!-- Редактировать -->
                    @Html.ActionLink(
                        ViewRes.Edit,
                        Consts.Actions.Edit,
                        controllerName: Consts.Controllers.Event.Name,
                        routeValues: new { id = @eventItem.ID },
                        htmlAttributes: new { @class = "link" })
                </td>
                <td>
                    <!-- Удалить -->
                    @Html.ActionLink(
                        ViewRes.Delete, actionName: Consts.Actions.Delete,
                        controllerName: Consts.Controllers.Event.Name,
                        routeValues: new { id = @eventItem.ID },
                        htmlAttributes: new { @class = "link" })
                </td>
            }
        </tr>
    }
</table>

<br /><br />

<div class="paginator">
    @Html.Partial(
        Consts.Paths.UserControls.PaginatorControl,
        (PaginatorControl.GetLinks(
            ServiceHelper<IEventService<Event>>.GetService().Count(Request.QueryString),
            Consts.PaginatorControl.EventItemsPerPage,
            Consts.PaginatorControl.EventNumberOfVisibleLinks)))
</div>