@using CaucasianPearl.Core.Constants

@model CaucasianPearl.Models.EDM.Event

<script type="text/javascript">
    var mode = '@ViewData["mode"]';

    $(document).ready(function() {
        $('.photoContainer')
            .mouseover(function() {
                var self = $(this);
                var flickrObj = self.find('.flickrObj');
                var deleteBtn = self.find('.delete-btn');

                if (!flickrObj.is('.deleted')) {
                    deleteBtn.show().css('top', -flickrObj.outerHeight() - 3 + 'px');
                }
            })
            .mouseout(function() {
                var self = $(this);
                self.find('.delete-btn').hide();
            });
    });

    onDeleteClick = function (self) {
        var flickrObj = self.parent().find('.flickrObj');
        var recoverBtn = self.parent().find('.recover-btn');
        
        self.hide();
        flickrObj.addClass('deleted').hide();
        recoverBtn.show();
        mediaDictDeleteObj(flickrObj);
    };
    
    onRecoverClick = function (self) {
        var flickrObj = self.parent().find('.flickrObj');
        var deleteBtn = self.parent().find('.delete-btn');
        
        self.hide();
        flickrObj.removeClass('deleted').show();
        deleteBtn.hide();
        mediaDictAddObj(flickrObj);
    };
</script>

<div class="photosBlock" style="display: block;">
    @foreach (var flickrObj in Model.EventMedia)
    {
        <div class="photoContainer" data-flickrobjid="@flickrObj.PhotoId">
            @*кнопка "Удалить"*@
            <a data-flickrobjid="@flickrObj.PhotoId" class="delete-btn" onclick="onDeleteClick($(this))"></a>
            
            @* фотография/видео *@
            <img id="@flickrObj.PhotoId"
                 class="@(flickrObj.MediaType == "photos" ? "flickrObj photo" : "flickrObj video")"
                 src='@flickrObj.ThumbnailUrl'
                 alt="@Model.Title"
                 data-photoid="@flickrObj.PhotoId"
                 data-photosetid="@flickrObj.PhotosetId"
                 data-description=""
                 data-content=""
                 data-mediatype="@flickrObj.MediaType"
                 data-flickrurl="@flickrObj.FlickrUrl"
                 data-thumbnailurl="@flickrObj.ThumbnailUrl"
                 data-smallurl="@flickrObj.SmallUrl"
                 data-mediumurl="@flickrObj.MediumUrl"
                 data-largeurl="@flickrObj.LargeUrl"
                 data-videourl="@flickrObj.VideoUrl"
                 data-isprimary="false"
                 ondblclick="openInNewTab($(this).data('flickrurl'))" />

            @*кнопка "Восстановить"*@
            <a data-flickrobjid="@flickrObj.PhotoId" class="recover-btn" onclick="onRecoverClick($(this))">Восстановить</a>
        </div>
    }
</div>