@using Recaptcha

@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.EDM.Request

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Name)
    <span style="color: #f00">*</span>
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.City)
    <span style="color: #f00">*</span>
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Phone)
    <span style="color: #f00">*</span>
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Phone)
    @Html.ValidationMessageFor(model => model.Phone)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.RequestDate)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.RequestDate)
    @Html.ValidationMessageFor(model => model.RequestDate)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Content)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Comment)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Comment)
    @Html.ValidationMessageFor(model => model.Comment)
</div>
    
@{
    var statuses = new List<SelectListItem> {
        new SelectListItem { Value = "0", Text = ModelRes.NotProcessed, Selected = true },
        new SelectListItem { Value = "1", Text = ModelRes.Processed }
    };
}

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Status)
</div>
<div class="create_or_edit_field">
    @Html.DropDownListFor(model => model.Status, new SelectList(statuses, "Value", "Text", statuses.First(s => s.Selected).Value))
    @Html.ValidationMessageFor(model => model.Status)
</div>