@model CaucasianPearl.Models.EDM.Request

@using CaucasianPearl.Core.Constants
@using Resources.Request
@using Resources.Shared

@{
    ViewBag.Title = RequestViewRes.Request;
}

<h2>@RequestViewRes.AddComment</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@RequestViewRes.Request</legend>

		@Html.Partial("CreateOrEdit", Model)

        <p>
            <input type="submit" value="@SharedViewRes.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@RequestViewRes.BackToList, Consts.Actions.Index)
</div>


