@model CaucasianPearl.Models.EDM.Request

@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;
@{
    ViewBag.Title = ViewRes.Requests;
}

<h2>@ViewRes.AddingRequest</h2>

@using (Html.BeginForm(Consts.Actions.Create, Consts.Controllers.Request.Name, FormMethod.Post, new { id = "formSendRequest" }))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>@ViewRes.Requests</legend>

		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <p>
            <input type="submit" value="@ViewRes.Create" />
        </p>
    </fieldset>
}

@if (User.IsInRole(Consts.Roles.AdminContentManager)) {
    <div>
        @Html.ActionLink(@ViewRes.BackToList, Consts.Actions.Index)
    </div>
}