@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.UserControls
@using Resources

@model CaucasianPearl.Models.EDM.Request

<div class="create_or_edit_field">
    <span class="required">*</span>
    @Html.LabelFor(model => model.Name, new { @class = "inside" })
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="create_or_edit_field">
    <span class="required">*</span>
    @Html.LabelFor(model => model.City, new { @class = "inside" })
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="create_or_edit_field">
    @*@Html.LabelFor(model => model.Phone)*@
    @Html.EditorFor(model => model.Phone)
    @Html.ValidationMessageFor(model => model.Phone)
</div>

<div class="create_or_edit_field">
    @Html.LabelFor(model => model.Email, new { @class = "inside" })
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="create_or_edit_field">
    @*@Html.LabelFor(model => model.RequestDate)*@
    @Html.EditorFor(model => model.RequestDate)
    @if (!Request.IsAjaxRequest())
    {
        @Html.ValidationMessageFor(model => model.RequestDate)
    }
</div>

<div class="create_or_edit_field">
    @Html.LabelFor(model => model.Content, new { @class = "inside" })
    @Html.EditorFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)
</div>

@Html.Partial(Consts.Paths.Fields.CaptchaField)