@model CaucasianPearl.Models.EDM.Request

@using CaucasianPearl.Core.Constants
@using Resources.Request
@using Resources.Shared

@{
    ViewBag.Title = RequestViewRes.Requests;
}

<h2>@RequestViewRes.AddingRequest</h2>

@using (Html.BeginForm(Consts.Actions.Create, Consts.Controllers.Request.Name, FormMethod.Post, new { id = "formCreateRequest" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@RequestViewRes.Requests</legend>

		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <p>
            <input type="submit" value="@ViewRes.Create" />
        </p>
    </fieldset>
}

@if (WebSecurity.IsAuthenticated && User.IsInRole(Consts.Roles.AdminContentManager)) {
    <div>
        @Html.ActionLink(@RequestViewRes.BackToList, Consts.Actions.Index)
    </div>
}