@using CaucasianPearl.Core.Constants
@using Resources

@model CaucasianPearl.Models.EDM.Request

@{
    ViewBag.Title = ViewRes.Delete;
}

<h2>@ViewRes.Delete</h2>

<div>
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
</div>

<h3>@ViewRes.YouSureYouWantToDeleteThis</h3>
<fieldset>
    <legend>@ViewRes.Requests</legend>

    <div class="display-label">@ModelRes.YourName</div>
    <div class="display-field">@Model.Name</div>
    
    <div class="display-label">@ModelRes.Phone</div>
    <div class="display-field">@Model.Phone</div>
    
    <div class="display-label">@ModelRes.Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">@ModelRes.City</div>
    <div class="display-field">@Model.City</div>

    <div class="display-label">@ModelRes.Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">@ModelRes.RequestDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.RequestDate)</div>
    
    <div class="display-label">@ModelRes.CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.Created)</div>

    <div class="display-label">@ModelRes.Status</div>
    <div class="display-field">@Model.Status</div>
    
    <div class="display-label">@ModelRes.Comment</div>
    <div class="display-field">@Model.Comment</div>
</fieldset>

@using (Html.BeginForm())
{
    <input type="submit" value="@ViewRes.Delete" /> @:| @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
}