@model CaucasianPearl.Models.EDM.Request

@using CaucasianPearl.Core.Constants
@using Resources.Request
@using Resources.Shared

@{
    ViewBag.Title = SharedViewRes.Delete;
}

<h2>@SharedViewRes.Delete</h2>

<h3>@SharedViewRes.YouSureYouWantToDeleteThis</h3>
<fieldset>
    <legend>@RequestViewRes.Requests</legend>

    <div class="display-label">@RequestModelRes.YourName</div>
    <div class="display-field">@Model.Name</div>
    
    <div class="display-label">@RequestModelRes.Phone</div>
    <div class="display-field">@Model.Phone</div>
    
    <div class="display-label">@RequestModelRes.Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">@RequestModelRes.City</div>
    <div class="display-field">@Model.City</div>

    <div class="display-label">@RequestModelRes.Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">@RequestModelRes.RequestDateTime</div>
    <div class="display-field">@String.Format("{0:g}", Model.RequestDateTime)</div>
    
    <div class="display-label">@RequestModelRes.Status</div>
    <div class="display-field">@Model.Status</div>
    
    <div class="display-label">@RequestModelRes.Comment</div>
    <div class="display-field">@Model.Comment</div>
</fieldset>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="@SharedViewRes.Delete" /> |
        @Html.ActionLink(RequestViewRes.BackToList, Consts.Actions.Index)
    </p>
}
