@using CaucasianPearl.Core.Constants
@using Resources

@model CaucasianPearl.Models.EDM.Request

@{
    ViewBag.Title = ViewRes.Requests;
}

<h2>@ViewRes.Requests</h2>

<p>
    @Html.ActionLink(
        linkText: @ViewRes.BackToList,
        actionName: Consts.Actions.Index)
</p>

<div>
    @Model.Name, @Model.City, @String.Format("{0:g}", Model.RequestDate)
        
    <div>
        <span class="display-label">@ModelRes.Phone:</span>
        <div class="display-field">
            @Model.Phone
        </div>
            
        <span class="display-label">@ModelRes.Email:</span>
        <div class="display-field">
            @Model.Email
        </div>
        
        <span class="display-label">@ModelRes.Content:</span>
        <div class="display-field">
            @Model.Content
        </div>
        
        <span class="display-label">@ModelRes.Status:</span>
        <div class="display-field">
            @Model.Status
        </div>
        
        <span class="display-label">@ModelRes.Comment:</span>
        <div class="display-field">
            @Model.Comment
        </div>

        @if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
        {
            <p>
                @Html.ActionLink(
                    linkText: ViewRes.Edit,
                    actionName: Consts.Actions.Edit,
                    routeValues: new { id = Model.ID }
                        ) |
                @Html.ActionLink(
                    linkText: ViewRes.Delete,
                    actionName: Consts.Actions.Delete,
                    routeValues: new { id = Model.ID }
                        )
            </p>
        }
    </div>
        
    @Html.ActionLink(
        linkText: @ViewRes.RequestDetails,
        actionName: Consts.Actions.Details,
        routeValues: new {id = Model.ID})
</div>
