@model CaucasianPearl.Models.EDM.Request

@using CaucasianPearl.Core.Constants
@using Resources

@{
    ViewBag.Title = ViewRes.Edit;
}

<h2>@ViewRes.RequestEditing</h2>

<div>
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewRes.Requests</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <p>
            <input type="submit" value="@ViewRes.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
</div>
