@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.EntityServices.Interface
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Models
@using CaucasianPearl.Models.EDM;
@using CaucasianPearl.Resources;

@model IEnumerable<Request>

@{
    ViewBag.Title = string.Format("{0} | {1}", ViewRes.ProjectTitleShort, ViewRes.Requests);
}

<p>
    @Html.ActionLink(
        ViewRes.ToHomePage,
        actionName: Consts.Actions.Index,
        controllerName: Consts.Controllers.Home.Name,
        routeValues: null,
        htmlAttributes: new { @class = "link" }
    )
    @Consts.BreadcrumbsSeparator
    @ViewRes.Requests
</p>

<h2>@ViewRes.Requests</h2>

<p>
    @Html.ActionLink(
        linkText: ViewRes.AddRequest,
        actionName: Consts.Actions.Create)
</p>

@foreach (var request in Model)
{
    <div>
        @request.Name, @request.City, @String.Format("{0:g}", request.RequestDate)
        
        <div>
            <span class="display-label">@ModelRes.Phone:</span>
            <div class="display-field">
                @request.Phone
            </div>
            
            <span class="display-label">@ModelRes.Email:</span>
            <div class="display-field">
                @request.Email
            </div>

            <span class="display-label">@ModelRes.Content:</span>
            <div id="@string.Format("requestContent{0}", request.ID)" class="display-field">
                @request.Content
            </div>

            <span class="display-label">@ModelRes.Status:</span>
            <div id="@string.Format("requestStatus{0}", request.ID)" class="display-field">
                @request.Status
            </div>
            
            <span class="display-label">@ModelRes.Comment:</span>
            <div id="@string.Format("requestComment{0}", request.ID)" class="display-field">
                @request.Comment
            </div>

            @if (User.IsInAnyRole(Consts.Roles.AdminContentManager)) {
                <p>
                    @Html.ActionLink(
                        linkText: ViewRes.Edit,
                        actionName: Consts.Actions.Edit,
                        routeValues: new { id = request.ID }
                         ) |
                    @Html.ActionLink(
                        linkText: ViewRes.Delete,
                        actionName: Consts.Actions.Delete,
                        routeValues: new { id = request.ID }
                         )
                </p>
            }
        </div>
        
        @Html.ActionLink(
            linkText: @ViewRes.RequestDetails,
            actionName: Consts.Actions.Details,
            routeValues: new {id = request.ID})
    </div>
    
    if (request != Model.Last())
    {
        <hr />
    }
}

<br /><br />

<div class="paginator">
    @Html.Partial(
        Consts.Paths.UserControls.PaginatorControl,
        (PaginatorControl.GetLinks(
            ServiceHelper<IBaseService<Request>>.GetService().Count(Request.QueryString),
            Consts.PaginatorControl.RequestItemsPerPage,
            Consts.PaginatorControl.RequestNumberOfVisibleLinks)
        )
    )
</div>