@using CaucasianPearl.Core.Constants

@model CaucasianPearl.Models.EDM.Feedback

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.City)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Comment)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Comment)
    @Html.ValidationMessageFor(model => model.Comment)
</div>

@if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
{
    <div class="create_or_edit_label">
        @Html.LabelFor(model => model.IsApproved)
    </div>
    <div class="create_or_edit_field">
        @Html.EditorFor(model => model.IsApproved)
        @Html.ValidationMessageFor(model => model.IsApproved)
    </div>
}