@using CaucasianPearl.Core.Constants
@using Resources

@model CaucasianPearl.Models.EDM.Feedback

@{
    ViewBag.Title = ViewRes.Feedbacks;
}

<h2>@ViewRes.AddComment</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewRes.Feedbacks</legend>

		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <p>
            <input id="submit" type="submit" value="@ViewRes.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@ViewRes.BackToList, Consts.Actions.Index)
</div>