@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.EDM.Feedback

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.ProjectTitleShort, ViewRes.Events); }

<h2>@ViewRes.Feedback: @Model.Name</h2>

<p>
    @Html.ActionLink(
        linkText: @ViewRes.BackToList,
        actionName: Consts.Actions.Index)
</p>

<div>
    @Model.Name, @Model.City, @String.Format("{0:g}", Model.Created)

    <div>
        <span class="display-label">@ModelRes.Comment:</span>
        <div class="display-field">@Model.Comment</div>

        @if (User.IsInAnyRole(Consts.Roles.AdminContentManager)) {
            <span class="display-label">@ModelRes.IsApproved:</span>
            <div class="display-field">@Model.IsApproved</div>
        }

        @if (User.IsInAnyRole(Consts.Roles.AdminContentManager)) {
            <p>
                @Html.ActionLink(
                    linkText: ViewRes.Edit,
                    actionName: Consts.Actions.Edit,
                    routeValues: new { id = Model.ID }) |
                @Html.ActionLink(
                    linkText: ViewRes.Delete,
                    actionName: Consts.Actions.Delete,
                    routeValues: new { id = Model.ID })
            </p>
        }
    </div>
</div>