@using CaucasianPearl.Core.Constants
@using Resources.Feedback
@using Resources.Shared

@model CaucasianPearl.Models.EDM.Feedback

@{
    ViewBag.Title = SharedViewRes.Edit;
}

<script src="@Url.Content("~/content/js/sys/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/content/js/sys/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>@FeedbackViewRes.FeedbackEditing</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@FeedbackViewRes.Feedback</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <input type="submit" value="@SharedViewRes.Save" />
    </fieldset>
}

<div>
    @Html.ActionLink(@FeedbackViewRes.BackToList, Consts.Actions.Index)
</div>
