@using CaucasianPearl.Core.Constants
@using Resources.Event
@using Resources.Shared

@model CaucasianPearl.Models.EDM.OneNews

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.CreatedDate)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.CreatedDate)
    @Html.ValidationMessageFor(model => model.CreatedDate)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.CreatedTime)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.CreatedTime)
    @Html.ValidationMessageFor(model => model.CreatedTime)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.LastUpdatedDate)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.LastUpdatedDate)
    @Html.ValidationMessageFor(model => model.LastUpdatedDate)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.LastUpdatedTime)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.LastUpdatedTime)
    @Html.ValidationMessageFor(model => model.LastUpdatedTime)
</div>
    
@Html.HiddenFor(model => model.LastUpdatedUser)
    
<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Content)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)
</div>

@Html.HiddenFor(model => model.CreatedBy)
    
<div class="create_or_edit_label">
    @Html.LabelFor(model => model.ShortName)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.ShortName)
    @Html.ValidationMessageFor(model => model.ShortName)
</div>
    
@Html.HiddenFor(model => model.ImageExt)