@model CaucasianPearl.Models.EDM.OneNews

@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers
@using Resources.News
@using Resources.Shared

@{
    ViewBag.Title = string.Format("{0} | {1}", Model.Name, Consts.Title);
}

<p>
    @* На домашнюю страницу *@
    @Html.ActionLink(
        SharedViewRes.ToHomePage,
        actionName: Consts.Actions.Index,
        controllerName: Consts.Controllers.Home.Name,
        routeValues: null,
        htmlAttributes: new { @class = "link" }
         )
    @Consts.BreadcrumbsSeparator
    @* Все новости *@
    @Html.ActionLink(
        NewsViewRes.AllNews,
        actionName: Consts.Actions.Index,
        routeValues: null,
        htmlAttributes: new { @class = "link" }
         )
    @Consts.BreadcrumbsSeparator
    @Model.Name
</p>

@if (WebSecurity.IsAuthenticated && (Roles.IsUserInRole(Consts.Roles.Admin) || Roles.IsUserInRole(Consts.Roles.ContentManager)))
{
    <p>
        @* Редактировать *@
        @Html.ActionLink(
            SharedViewRes.Edit,
            actionName: Consts.Actions.Edit,
            controllerName: Consts.Controllers.OneNews.Name,
            routeValues: new { id = Model.ID },
            htmlAttributes: new { @class = "link" }
        )
        @Consts.MenuSeparator
        @* Удалить *@
        @Html.ActionLink(
            SharedViewRes.Delete,
            actionName: Consts.Actions.Delete,
            controllerName: Consts.Controllers.OneNews.Name,
            routeValues: new { id = Model.ID },
            htmlAttributes: new { @class = "link" }
        )
    </p>
}

<h2>@NewsViewRes.OneNews: @Model.Name</h2>

<br />

<div class="model-image">
    <img src='@string.Format("{0}/{1}/{2}",
                             (Url.Content(Consts.EntityImagesFolder)),
                             (Consts.Controllers.OneNews.OneNewsImagesFolder),
                             ImageHelper.GetImageName(Model))' alt="@Model.Name"/>
</div>

<fieldset>
    <legend>@Model.Name</legend>
    
    <div class="display-form">
        <div class="display-property">
            <div class="display-label">@Html.LabelFor(model => model.Name)</div>
            <div class="display-field">@Html.DisplayFor(model => model.Name)</div>
            <div class="clear"></div>

            <div class="display-label">@Html.LabelFor(model => model.CreatedDate)</div>
            <div class="display-field">@Html.DisplayFor(model => model.CreatedDate)</div>
            <div class="clear"></div>

            <div class="display-label">@Html.LabelFor(model => model.CreatedTime)</div>
            <div class="display-field">@Html.DisplayFor(model => model.CreatedTime)</div>
            <div class="clear"></div>

            <div class="display-label">@Html.LabelFor(model => model.LastUpdatedDate)</div>
            <div class="display-field">@Html.DisplayFor(model => model.LastUpdatedDate)</div>
            <div class="clear"></div>

            <div class="display-label">@Html.LabelFor(model => model.LastUpdatedTime)</div>
            <div class="display-field">@Html.DisplayFor(model => model.LastUpdatedTime)</div>
            <div class="clear"></div>
    
            <div class="display-label">@Html.LabelFor(model => model.Content)</div>
            <div class="display-field">@Html.DisplayFor(model => model.Content)</div>
            <div class="clear"></div>
            
            <div class="display-label">@Html.LabelFor(model => model.ShortName)</div>
            <div class="display-field">@Html.DisplayFor(model => model.ShortName)</div>
            <div class="clear"></div>
    
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.LastUpdatedUser)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.ImageExt)
            @Html.HiddenFor(model => model.Sequence)
        </div>
    </div>
</fieldset>

<p>
    @if (WebSecurity.IsAuthenticated && Roles.IsUserInRole(Consts.Roles.Admin)) {
        @Html.ActionLink(SharedViewRes.Edit, Consts.Actions.Edit, new { id = Model.ID }) @:|
    }
    @Html.ActionLink(NewsViewRes.BackToList, Consts.Actions.Index)
</p>