@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.UserControls
@using Resources.News
@using Resources.Shared

@model CaucasianPearl.Models.EDM.OneNews

@{
    ViewBag.Title = string.Format("{0} | {1}", NewsViewRes.NewsEditing, Consts.Title);
}

@Html.Raw(CssJsRegControl.Render(Consts.Paths.CKEditor))

<script type="text/javascript">
    $(document).ready(function () {
        replaceByCKEditor('@Url.Content(Consts.Paths.CKEditorConfig)', 'Content', 'submit');
    });
</script>

<p>
    @* Отмена *@
    @Html.ActionLink(
        SharedViewRes.Cancel,
        actionName: Consts.Actions.GetByShortName,
        controllerName: Consts.Controllers.OneNews.Name,
        routeValues: new
            {
                shortname = Model.ShortName,
                page = Request.QueryString["page"]
            },
        htmlAttributes: new
            {
                @class = "link"
            })
</p>

<h2>@NewsViewRes.NewsEditing</h2>

<h3>@NewsViewRes.ImageForNews</h3>

@using (Html.BeginForm(
        actionName: Consts.Controllers.OneNews.Actions.UploadImage,
        controllerName: Consts.Controllers.OneNews.Name,
        method: FormMethod.Post,
        htmlAttributes: new
        {
            enctype = "multipart/form-data",
            id = Model.ID
        })
        )
{
    @Html.HiddenFor(model => model.ID)

    <table>
        <tr>
            <td>
                @{
    var filename = string.IsNullOrWhiteSpace(Model.ImageExt)
                       ? Consts.DefaultImage
                       : string.Format("{0}{1}", Model.ID, Model.ImageExt.TrimEnd());
                }

                <div class="model-image">
                    <img src='@(Url.Content(Consts.FoldersPathes.EntityImagesFolder))/@(Consts.Controllers.OneNews.OneNewsImagesFolder)/@(filename)' alt='@Model.Name' />
                </div>
            </td>
            <td style="padding-left: 20px">
                <input type="file" name="imagefile" />
                <br />
                <input type="submit" value="Загрузить" />
            </td>
        </tr>
    </table>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@NewsViewRes.News</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <input id="submit" type="submit" value="@SharedViewRes.Save" />
    </fieldset>
}
