@using System.Globalization

@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.EntityServices.Interface
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Models.EDM
@using CaucasianPearl.Core.DAL.Data
@using Resources

@model IEnumerable<EventItemInfo>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $('.event').each(function (i) {
                $(this)
                    .css({ visibility: 'visible' })
                    .hide()
                    .fadeIn(i * 500);
            });
        });
    });
</script>

@Html.Raw(CssJsRegControl.Render("photos.css", Consts.Paths.Css.CpCssPrefixPath))

<style type="text/css">
    .event {
        float: left;
        visibility: hidden;
        margin: 40px;
        width: 40%;
    }
    .event_link {
        clear: both;
        float: left;
    }
    .event_cover_image {
        height: 300px;
        width: 400px;
    }
    .event_title {
        clear: both;
        float: left;
    }
    .event_date {
        float: left;
        margin-left: 10px;
    }
</style>

<div class="events_block">
    @foreach (var eventInfo in Model) {
        <div class="event image-block">
            <a class="event_link" href="@Url.Action(Consts.Controllers.Event.Actions.GetEvents, Consts.Controllers.Event.Name, new RouteValueDictionary { { "id", eventInfo.ID } })" >
                <img class="event_cover_image" src="@eventInfo.CoverImage" alt="@eventInfo.Title" />
            </a>
            <span class="event_title">@eventInfo.Title</span>
            <span class="event_date_day">@eventInfo.Day</span>
            <span class="event_date_month">@eventInfo.Month</span>
        </div>
    }
</div>