@using CaucasianPearl.Core.Constants
@using Resources.Account

@if (WebSecurity.IsAuthenticated) {
    <text>
        Добро пожаловать, @Html.ActionLink(
                              linkText: User.Identity.Name,
                              actionName: Consts.Controllers.Account.Actions.Manage,
                              controllerName: Consts.Controllers.Account.Name,
                              routeValues: null,
                              htmlAttributes: new {
                                   @class = "username",
                                   title = AccountViewRes.Manage
                              })!
        @using (Html.BeginForm(
            Consts.Controllers.Account.Actions.LogOff,
            Consts.Controllers.Account.Name,
            FormMethod.Post,
            new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink(
                linkText: AccountViewRes.LogOnPartial_LogOff,
                actionName: Consts.Controllers.Account.Actions.LogOff,
                controllerName: Consts.Controllers.Account.Name,
                routeValues: null,
                htmlAttributes: new {
                    href = "javascript:document.getElementById('logoutForm').submit()",
                    returnUrl = ViewContext.HttpContext.Request.UrlReferrer == null
                        ? string.Empty
                        : HttpUtility.HtmlEncode(ViewContext.HttpContext.Request.UrlReferrer.PathAndQuery) })
        }
    </text>
} else {
    <ul>
        <li>
            @Html.ActionLink(
                linkText: AccountViewRes.LogOn_Register,
                actionName: Consts.Controllers.Account.Actions.Register,
                controllerName: Consts.Controllers.Account.Name,
                routeValues: null,
                htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink(
                linkText: AccountViewRes.LogOnPartial_Login,
                actionName: Consts.Controllers.Account.Actions.Login,
                controllerName: Consts.Controllers.Account.Name,
                routeValues: null,
                htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}