@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;

@if (WebSecurity.IsAuthenticated) {
    <text>
        Добро пожаловать, @Html.ActionLink(@* Управление профилем *@
                              linkText: User.Identity.Name,
                              actionName: Consts.Controllers.Account.Actions.Manage,
                              controllerName: Consts.Controllers.Account.Name,
                              routeValues: null,
                              htmlAttributes: new {
                                  @class = "username",
                                  title = ViewRes.ManageProfile
                              })!
        @* форма выхода *@
        @using (Html.BeginForm(
            Consts.Controllers.Account.Actions.LogOff,
            Consts.Controllers.Account.Name,
            routeValues: new {
                returnUrl = ViewContext.HttpContext == null
                                ? string.Empty
                                : HttpUtility.HtmlEncode(ViewContext.HttpContext.Request.RawUrl)
            },
            method: FormMethod.Post,
            htmlAttributes: new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            @* выход *@
            @Html.ActionLink(
                linkText: ViewRes.LogOff,
                actionName: Consts.Controllers.Account.Actions.LogOff,
                controllerName: Consts.Controllers.Account.Name,
                routeValues: null,
                htmlAttributes: new { href = "javascript:document.getElementById('logoutForm').submit()" })
        }
    </text>
}
else {
    <ul>
        <li>
            @* Вход *@
            @Html.ActionLink(
                linkText: ViewRes.LoginPartial_Login,
                actionName: Consts.Controllers.Account.Actions.Login,
                controllerName: Consts.Controllers.Account.Name,
                routeValues: new {
                returnUrl = ViewContext.HttpContext == null
                                ? string.Empty
                                : HttpUtility.HtmlEncode(ViewContext.HttpContext.Request.RawUrl)
                },
                htmlAttributes: new { id = "loginLink" })
        </li>
        <li>
            @* Регистрация *@
            @Html.ActionLink(
                linkText: ViewRes.Register,
                actionName: Consts.Controllers.Account.Actions.Register,
                controllerName: Consts.Controllers.Account.Name,
                routeValues: null,
                htmlAttributes: new { id = "registerLink" })
        </li>
    </ul>
}