@using CaucasianPearl;
@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Properties
@using Resources

@Html.Raw(CssJsRegControl.Render("recaptcha/recaptcha_ajax.js", Consts.Paths.Plugins.PluginsPrefix))
@Html.Raw(CssJsRegControl.Render("jquery.maskedinput.min.js", Consts.Paths.Plugins.PluginsPrefix))
@Html.Raw(CssJsRegControl.Render("request_form.js", Consts.Paths.Js.CpJsPrefixPath, "windows-1251"))
@Html.Raw(CssJsRegControl.Render("request_form.css", Consts.Paths.Css.CpCssPrefixPath))
@Html.Raw(CssJsRegControl.Render("jquery.infieldlabel.js", Consts.Paths.Plugins.PluginsPrefix, "utf-8"))

@* задаём параметры для request_form.js *@
<script type="text/javascript">
    var triggerElementId = '@ViewData["triggerElementId"]';
    var requestDateControlId = '#RequestDate';
    var formUrl = '@Url.Action(Consts.Actions.CreatePartial, Consts.Controllers.Request.Name)';
</script>

@* форма заявки { *@
<div id="requestBlock" class="send_request_response">
    <div id="errorMessage" class="error">@ViewRes.RequestSendingError</div>

    @* сюда подгружается форма заявки *@
    <div id="requestForm" class="request_form"></div>
    
    <div class="overlay_min"></div>
    <div class="loading_min"></div>
</div>

<div id="thanks" class="thanks">@ViewRes.RequestThanks</div>@* } *@