@using CaucasianPearl.Models.EDM
@using CaucasianPearl.Core.Constants
@using Resources

@model Profile

@{
    ViewBag.Title = ViewRes.ProfileCreating;
}

<h2>@ViewRes.ProfileCreating</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewRes.UserProfile</legend>

		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <p>
            <input id="submit" type="submit" value="@ViewRes.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
</div>