@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.EntityServices.Interface
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Models.EDM
@using CaucasianPearl.Resources;
@using System.Globalization

@model IEnumerable<Profile>

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.ProjectTitleShort, ViewRes.UserProfiles); }

@Html.Raw(CssJsRegControl.Render("photos.css", Consts.Paths.Css.CpCssPrefixPath))

<p>
    @Html.ActionLink(ViewRes.ToHomePage, Consts.Actions.Index, Consts.Controllers.Home.Name, null, new { @class = "link" })
    @Consts.BreadcrumbsSeparator
    @ViewRes.UserProfiles
</p>

<h2>@ViewRes.UserProfiles</h2>

<div>
    @if (WebSecurity.IsAuthenticated && User.IsInAnyRole(Consts.Roles.AdminContentManager)) {
        <p>
            @Html.ActionLink(
                ViewRes.CreateProfile,
                Consts.Actions.Create)
        </p>
    }
</div>

<div class="wrapper profile_index">
    <div class="photo-content">
        <ul class="photo-area" style="height: 238px;">
            @foreach (var profile in Model) {
                <li class="photo-item">
                    <div class="container">
                        <span class="image-block">
                            <a class="image-zoom"
                               title="@profile.FirstName @profile.LastName"
                               href="@Url.Action(Consts.Actions.GetByShortName,
                                                 Consts.Controllers.Profile.Name,
                                                 new {
                                                     shortname = profile.ShortName,
                                                     page = Request.QueryString["page"],
                                                     find = Request.QueryString["find"]
                                                 })">
                                <img class="photo"
                                     src="@Url.Content(profile.ImageUrl)"
                                     alt="@profile.FirstName @profile.LastName"
                                     title="@profile.FirstName @profile.LastName" />
                            </a>
                        </span>
                        <div class="photo-text">
                            <h3 class="photo-title">
                                <a href="@Url.Action(Consts.Actions.GetByShortName,
                                                     Consts.Controllers.Profile.Name,
                                                     new {
                                                         shortname = profile.ShortName,
                                                         page = Request.QueryString["page"],
                                                         find = Request.QueryString["find"]
                                                     })"
                                   title="@profile.FirstName  @profile.LastName">@profile.FirstName @profile.LastName</a>
                            </h3>
                            <div>@profile.Position</div>
                            <div>@profile.Description</div>
                        </div>

                        @if (User.IsInAnyRole(Consts.Roles.AdminContentManager) || WebSecurity.CurrentUserId == profile.ID) {
                            <div class="photo-text">
                                @Html.ActionLink(
                                    ViewRes.Edit,
                                    Consts.Actions.Edit,
                                    new { id = profile.ID },
                                    new { style = "display: block;" })

                                @Html.ActionLink(
                                    ViewRes.Delete,
                                    Consts.Actions.Delete,
                                    new { id = profile.ID },
                                    new { style = "display: block;" })
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="paginator">
    @Html.Partial(
        Consts.Paths.UserControls.PaginatorControl,
        (PaginatorControl.GetLinks(
            ServiceHelper<IProfileService<Profile>>.GetService().Count(Request.QueryString),
            Consts.PaginatorControl.ProfileItemsPerPage,
            Consts.PaginatorControl.ProfileNumberOfVisibleLinks)))
</div>