@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.EntityServices.Interface
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Models.EDM
@using Resources.Profile
@using Resources.Shared
@using System.Globalization

@model IEnumerable<Profile>

@{
    ViewBag.Title = string.Format("{0} - {1}", SharedRes.ProjectTitle, ProfileViewRes.Profiles);
}

<link type="text/css" href="@Url.Content("~/content/css/cp/photos.css")" rel="stylesheet" media="all" />

<p>
    @Html.ActionLink(
        SharedViewRes.ToHomePage,
        actionName: Consts.Actions.Index,
        controllerName: Consts.Controllers.Home.Name,
        routeValues: null,
        htmlAttributes: new { @class = "link" }
    )
    @Consts.BreadcrumbsSeparator
    @ProfileViewRes.Profiles
</p>

<h2>@ProfileViewRes.Profiles</h2>

<div style="display: none;">
    @if (WebSecurity.IsAuthenticated && (User.IsInAnyRole(Consts.Roles.AdminContentManager)))
    {
        <p>
            @Html.ActionLink(
                ProfileViewRes.CreateProfile,
                Consts.Actions.Create)
        </p>
    }
</div>

<div class="wrapper">
        <div class="photo-content">
            <ul class="photo-area" style="height: 238px;">
                @foreach (var profile in Model)
                {
                    if (WebSecurity.IsAuthenticated && (User.IsInAnyRole(Consts.Roles.AdminContentManager) || WebSecurity.CurrentUserId == profile.ID))
                    {
                        Html.ActionLink(
                            SharedViewRes.Edit,
                            Consts.Actions.Edit,
                            new { id = profile.ID });

                        Html.ActionLink(
                            SharedViewRes.Details,
                            Consts.Actions.Details,
                            new { id = profile.ID });

                        Html.ActionLink(
                            SharedViewRes.Delete,
                            Consts.Actions.Delete,
                            new { id = profile.ID });
                    }

                    <li class="photo-item">
                        <div>
                        
                            <span class="image-block">
                                <a class="image-zoom" href="@Url.Action(Consts.Actions.GetByShortName,
                                                                        Consts.Controllers.Profile.Name,
                                                                        new
                                                                            {
                                                                                shortname = profile.ShortName,
                                                                                page = Request.QueryString["page"],
                                                                                find = Request.QueryString["find"]
                                                                            })" title="@profile.FirstName @profile.LastName">
                                    <img src="@profile.ImageUrl" alt="@profile.FirstName @profile.LastName" title="@profile.FirstName @profile.LastName" />
                                </a>
                            </span>
                            <div class="photo-text">
                                <h2 class="photo-title">
                                    <a href="@Url.Action(Consts.Actions.GetByShortName,
                                                         Consts.Controllers.Profile.Name,
                                                         new
                                                             {
                                                                 shortname = profile.ShortName,
                                                                 page = Request.QueryString["page"],
                                                                 find = Request.QueryString["find"]
                                                             })" title="@profile.FirstName  @profile.LastName">@profile.FirstName  @profile.LastName</a>
                                </h2>
                                <span>Èìÿ: @profile.FirstName @profile.LastName</span>
                                <br />
                                <span>Ãðóïïà: @profile.Group</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

<div class="paginator">
    @Html.Partial(
        Consts.UserControlsPaths.Paginator,
        (PaginatorControl.GetLinks(
            DependencyResolverHelper<IUrlFriendlyService<Profile>>.GetService().Count(Request.QueryString),
            Consts.PaginatorControl.ProfileItemsPerPage,
            Consts.PaginatorControl.ProfileNumberOfVisibleLinks)))
</div>