@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Models
@using CaucasianPearl.Resources

@model LocalPasswordModel

<h3>@ViewRes.PasswordChanging</h3>

@using (Html.BeginForm(Consts.Controllers.Account.Actions.Manage, Consts.Controllers.Account.Name)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@ViewRes.ChangePassword" />
    </fieldset>
}