@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Utilities
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.LoginModel

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.Login, ViewRes.ProjectTitleShort); }

<hgroup class="title">
    <h1>@ViewRes.Login</h1>
</hgroup>

<section id="loginForm">
@using (Html.BeginForm(new { returnUrl = ViewBag.returnUrl != null && ViewBag.returnUrl != Consts.Paths.RootPath ? ViewBag.returnUrl : Utility.GetReturnUrl })) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="@ViewRes.Login" />
    </fieldset>
    <p>
        @Html.ActionLink(ViewRes.ToRegister, Consts.Controllers.Account.Actions.Register), @ViewRes.IfYouDontHaveAnAccount.
    </p>
}
</section>