@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources
@model CaucasianPearl.Models.LocalPasswordModel

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.ManageAccount, ViewRes.ProjectTitleShort); }

<hgroup class="title">
    <h1>@ViewRes.ManageAccount</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>@ViewRes.YouLoggedInAs <strong>@User.Identity.Name</strong>.</p>

@(ViewBag.HasLocalPassword ? Html.Partial(Consts.Controllers.Account.Views.ChangePasswordPartial) : Html.Partial(Consts.Controllers.Account.Views.SetPasswordPartial))