@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.DAL.Data
@using CaucasianPearl.Core.EntityServices.Interface
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Models.EDM
@using Resources
@using System.Globalization

@model IEnumerable<ProfileItem>

@{
    ViewBag.Title = string.Format("{0} – {1}", ViewRes.ProjectTitle, ViewRes.AboutEnsemble);
}

@* первый текст *@
<div class="members_text2" style="float: left; width: 400px;">
    @Html.Raw(Html.PlaceHolder("members_text1"))
</div>

@* второй текст *@
<div class="members_text2" style="float: left; width: 400px;">
    @Html.Raw(Html.PlaceHolder("members_text2"))
</div>

@* участники ансамбля *@
<div class="members">
    @Html.Partial(Consts.Paths.UserControls.MembersControl, ViewBag.Members as IEnumerable<ProfileItem>)
</div>

@* отзывы *@
<div class="feedbacks" style="clear: both; margin-bottom: 50px;">
    @Html.Partial(Consts.Paths.UserControls.FeedbacksControl, ViewBag.Feedbacks as FeedbackItem)
</div>

<div>
    <h2>
        <a id="becomeSponsor" class="become_sponsor" href="https://money.yandex.ru/direct-payment.xml" target="_blank">@ViewRes.BecomeSponsor</a>
    </h2>
</div>

@* крупные спонсоры *@
<div class="big_sponsors" style="float: left; width: 400px;">
    @Html.Partial(Consts.Paths.UserControls.BigSponsorsControl, ViewBag.BigSponsors as IEnumerable<SponsorItem>)
</div>

@* мелкие спонсоры *@
<div class="small_sponsors" style="float: left; width: 400px;">
    @Html.Partial(Consts.Paths.UserControls.SmallSponsorsControl, ViewBag.SmallSponsors as IEnumerable<SponsorItem>)
</div>