@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.UserControls
@using Resources

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.ProjectTitleShort, ViewRes.Index); }

<script type="text/javascript">
    // список событий на месяц
    var eventsForMonth = '@Html.Raw(@ViewBag.EventsForMonth)';
</script>

@Html.Raw(CssJsRegControl.Render("affiche.js", Consts.Paths.Js.CpJsPrefixPath))
@Html.Raw(CssJsRegControl.Render("affiche.css", Consts.Paths.Css.CpCssPrefixPath))

<div id="datepicker"></div>

@Html.Partial(Consts.Paths.UserControls.RequestFormControl)