@using CaucasianPearl.Core.Constants
@using Resources

@model CaucasianPearl.Models.EDM.ContentBlock

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.BlockId)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.BlockId)
    @Html.ValidationMessageFor(model => model.BlockId)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.PlaceHolderId)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.PlaceHolderId)
    @Html.ValidationMessageFor(model => model.PlaceHolderId)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Content)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="create_or_edit_label">
    @Html.LabelFor(model => model.IsPublished)
</div>
<div class="create_or_edit_field">
    @Html.EditorFor(model => model.IsPublished)
    @Html.ValidationMessageFor(model => model.IsPublished)
</div>

@Html.HiddenFor(model => model.Sequence)