@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.EDM.ContentBlock

@{
    ViewBag.Title = ViewRes.ContentBlocks;
}

<h2>@ViewRes.ContentBlock: @Model.BlockId</h2>

<p>
    @Html.ActionLink(
        linkText: @ViewRes.BackToList,
        actionName: Consts.Actions.Index)
</p>

<div>
    <div>
        <span class="display-label">@ModelRes.BlockId:</span>
        <div class="display-field">
            @Model.BlockId
        </div>
            
        <span class="display-label">@ModelRes.PlaceHolderId:</span>
        <div class="display-field">
            @Model.PlaceHolderId
        </div>

        <span class="display-label">@ModelRes.Content:</span>
        <div id="@string.Format("contentBlockContent{0}", Model.ID)" class="display-field">
            @Html.Raw(Model.Content)
        </div>

        <span class="display-label">@ModelRes.Description:</span>
        <div class="display-field">
            @Model.Description
        </div>
            
        <span class="display-label">@ModelRes.IsPublished:</span>
        <div class="display-field">
            @Html.DisplayFor(m => Model.IsPublished)
        </div>

        @if (User.IsInAnyRole(Consts.Roles.AdminContentManager)) {
            <p>
                @Html.ActionLink(
                    linkText: ViewRes.Edit,
                    actionName: Consts.Actions.Edit,
                    routeValues: new { id = Model.ID }
                        ) |
                @Html.ActionLink(
                    linkText: ViewRes.Delete,
                    actionName: Consts.Actions.Delete,
                    routeValues: new { id = Model.ID }
                        )
            </p>
        }
    </div>
        
    @Html.ActionLink(
        linkText: @ViewRes.ContentBlockDetails,
        actionName: Consts.Actions.Details,
        routeValues: new {id = Model.ID})
</div>