@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.UserControls
@using Resources

@model CaucasianPearl.Models.EDM.ContentBlock

@{
    ViewBag.Title = string.Format("{0} | {1}", ViewRes.ContentBlockEditing, Consts.Title);
}

@Html.Raw(CssJsRegControl.Render(Consts.Paths.Plugins.CKEditor))

<script type="text/javascript">
    $(document).ready(function () {
        replaceByCKEditor('@Url.Content(Consts.Paths.Plugins.CKEditorConfig)', 'Content', 'submit');
    });
</script>

<p>
    @Html.ActionLink(
        linkText: ViewRes.Cancel,
        actionName: Consts.Actions.Details,
        controllerName: Consts.Controllers.ContentBlock.Name,
        routeValues: new
        {
            id = Model.ID,
            page = Request.QueryString["page"]
        },
        htmlAttributes: new { @class = "link" })
</p>

<h2>@ViewRes.ContentBlockEditing</h2>

<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewRes.ContentBlocks</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <input id="submit" type="submit" value="@ViewRes.Save" />
    </fieldset>
}