@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.EDM.SiteSetting

@{
    ViewBag.Title = ViewRes.Creating;
}

<h2>@ViewRes.Creating</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()
    <fieldset>
        <legend>@ViewRes.SiteSetting</legend>

		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
</div>


