@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.EDM.SiteSetting

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.SiteSettingDeleting, ViewRes.ProjectTitleShort); }

<h2>@ViewRes.Deleting</h2>

<h3>@ViewRes.YouSureYouWantToDeleteThisSiteSettings</h3>

<br />

<fieldset>
    <legend>SiteSetting</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Value</div>
    <div class="display-field">@Model.Value</div>
    
    <div class="display-label">DefaultValue</div>
    <div class="display-field">@Model.DefaultValue</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>
</fieldset>

<br />

@using (Html.BeginForm()) {
    <input type="submit" value="@ViewRes.Delete" /> @:|
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
}