@using CaucasianPearl.Core.Constants
@using Resources

@model CaucasianPearl.Models.EDM.SiteSetting

@{
    ViewBag.Title = ViewRes.Details;
}

<h2>@ViewRes.Details</h2>

<fieldset>
    <legend>SiteSetting</legend>

    <div class="display-label">@ModelRes.Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">@ModelRes.Value</div>
    <div class="display-field">@Model.Value</div>
    
    <div class="display-label">@ModelRes.DefaultValue</div>
    <div class="display-field">@Model.DefaultValue</div>
    
    <div class="display-label">@ModelRes.Description</div>
    <div class="display-field">@Model.Description</div>
</fieldset>
<p>
    @Html.ActionLink(ViewRes.Edit, Consts.Actions.Edit, new { id = Model.ID }) |
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
</p>