@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.EDM.SiteSetting

@{
    ViewBag.Title = ViewRes.Editing;
}

<h2>@ViewRes.Editing</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()
    <fieldset>
        <legend>@ViewRes.SiteSetting</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial(Consts.Views.CreateOrEdit, Model)

        <p>
            <input type="submit" value="@ViewRes.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
</div>
